<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>About Booking Mate</strong></ion-text>
      </h1><br>
      
      <p style="font-size: 13px;" margin-bottom>
        Booking Mate is a visitor management system that helps keep track of all 
        your company bookings, current visitors and all previous visitor's log.
      </p><br>

      <!-- <p style="font-size: 13px;" >Website: <a href="http://www.entrisec.com">www.entrisec.com</a></p> -->
      
    </ion-card-content>
  </ion-card>

</ion-content>
